.body h1 {
    font-family: Merienda One;
    font-weight: bold;
}

.container {
    width: 100%;
    position: absolute;
    top: 20%;
    left: 0%;
    text-align: center;
}

h1 {
    font-weight: 300;
}
h3 {
    color: #eee;
    font-weight: 100;
}
h5 {
    color: #eee;
    font-weight: 300;
}

fieldset {
    border: 0;
    padding: 0.01em 0 0 0;
    margin: 0;
    min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
    display: table-cell;
}

legend {
    font-size: 1.5em;
    padding: 5px;
    display: table;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.container {
    background-position: center;
    font-style: italic;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

body {
    font-style: normal;
    font-family: ubuntu mono;
    font-weight: 600;
    margin: 100;
    margin-left: auto;
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientsBG 15s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;      
    }
    50% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}